<?xml version="1.0" encoding="UTF-8"?>
<!--http://wiki.intra.xiaojukeji.com/pages/viewpage.action?pageId=123358024-->
<configuration>
    <property name="encoding" value="UTF-8"/>
    <property name="LOG_PATH" value="logs"/>
    <property name="normal-pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread] %-5level %logger{16}:%L - %msg %n"/>
    <!--控制台日志-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>
    <!--默认文件-->
    <appender name="file-default"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/default.log</file>
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/default.%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
    </appender>
    <!--错误以及以上级别日志-->
    <appender name="file-error"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/error.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <!--loggers to disable some useless info-->
    <logger name="com.netflix.config.sources" level="error"/>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file-default"/>
        <appender-ref ref="file-error"/>
    </root>
</configuration>
